In [3]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file1 = "JC-202004-citibike-tripdata.csv"
file2 = "JC-202012-citibike-tripdata.csv"
file3 = "JC-202101-citibike-tripdata.csv"
file4 = "JC-202201-citibike-tripdata.csv"
file5 = "JC-202202-citibike-tripdata.csv"
file6 = "JC-202203-citibike-tripdata.csv"

# Read Purchasing File and store into Pandas data frame
df1 = pd.read_csv(file1)
df2 = pd.read_csv(file2)
df3 = pd.read_csv(file3)
df4 = pd.read_csv(file4)
df5 = pd.read_csv(file5)
df6 = pd.read_csv(file6)

In [4]:
dfmerge1=df1.merge(df2,how="outer")

In [5]:
dfmerge2=dfmerge1.merge(df3,how="outer")

In [6]:
dfmerge3=df4.merge(df5,how="outer")

In [7]:
dfmerge4=dfmerge3.merge(df6,how="outer")

In [8]:
dfmerge2=dfmerge2.rename(columns={"starttime":"started_at",
                        "stoptime":"ended_at",
                        "start station id":"start_station_id",
                         "start station name":"start_station_name",
                         "start station latitude":"start_lat",
                        "start station longitude":"start_lng",
                        "end station id":"end_station_id",
                         "end station name":"end_station_name",
                         "end station latitude":"end_lat",
                        "end station longitude":"end_lng",
                        "usertype":"member_casual"})
dfmerge2=dfmerge2.drop(columns=['tripduration', 'bikeid','birth year','gender',"end_station_id","start_station_id"])

In [9]:

dfmerge4=dfmerge4.drop(columns=['ride_id','rideable_type',"end_station_id","start_station_id"])

In [10]:
dfmerge2.head()

,started_at,ended_at,start_station_name,start_lat,start_lng,end_station_name,end_lat,end_lng,member_casual
0,2020-04-01 01:06:20.6300,2020-04-01 01:30:17.9680,Fairmount Ave,40.725726,-74.071959,Fairmount Ave,40.725726,-74.071959,Customer
1,2020-04-01 05:02:42.0570,2020-04-01 05:07:06.1260,Oakland Ave,40.737604,-74.052478,Sip Ave,40.730897,-74.063913,Subscriber
2,2020-04-01 06:20:28.1190,2020-04-01 06:24:42.1380,Fairmount Ave,40.725726,-74.071959,Sip Ave,40.730897,-74.063913,Subscriber
3,2020-04-01 06:33:30.5170,2020-04-01 06:40:40.1990,Sip Ave,40.730897,-74.063913,Bergen Ave,40.722104,-74.071455,Subscriber
4,2020-04-01 06:38:32.9220,2020-04-01 06:51:58.2050,Lincoln Park,40.724605,-74.078406,Sip Ave,40.730897,-74.063913,Subscriber

In [11]:
dfmerge4.head()

,started_at,ended_at,start_station_name,end_station_name,start_lat,start_lng,end_lat,end_lng,member_casual
0,2022-01-26 18:50:39,2022-01-26 18:51:53,12 St & Sinatra Dr N,12 St & Sinatra Dr N,40.750604,-74.024020,40.750604,-74.024020,member
1,2022-01-28 13:14:07,2022-01-28 13:20:23,Essex Light Rail,Essex Light Rail,40.712774,-74.036486,40.712774,-74.036486,member
2,2022-01-10 19:55:13,2022-01-10 20:00:37,Essex Light Rail,Essex Light Rail,40.712774,-74.036486,40.712774,-74.036486,member
3,2022-01-26 07:54:57,2022-01-26 07:55:22,12 St & Sinatra Dr N,12 St & Sinatra Dr N,40.750604,-74.024020,40.750604,-74.024020,member
4,2022-01-13 18:44:46,2022-01-13 18:45:43,12 St & Sinatra Dr N,12 St & Sinatra Dr N,40.750604,-74.024020,40.750604,-74.024020,member

In [12]:
finalmerge=dfmerge2.merge(dfmerge4,how="outer")

In [30]:
finalmerge

,started_at,ended_at,start_station_name,start_lat,start_lng,end_station_name,end_lat,end_lng,member_casual
0,2020-04-01 01:06:20.6300,2020-04-01 01:30:17.9680,Fairmount Ave,40.725726,-74.071959,Fairmount Ave,40.725726,-74.071959,Customer
1,2020-04-01 05:02:42.0570,2020-04-01 05:07:06.1260,Oakland Ave,40.737604,-74.052478,Sip Ave,40.730897,-74.063913,Subscriber
2,2020-04-01 06:20:28.1190,2020-04-01 06:24:42.1380,Fairmount Ave,40.725726,-74.071959,Sip Ave,40.730897,-74.063913,Subscriber
3,2020-04-01 06:33:30.5170,2020-04-01 06:40:40.1990,Sip Ave,40.730897,-74.063913,Bergen Ave,40.722104,-74.071455,Subscriber
4,2020-04-01 06:38:32.9220,2020-04-01 06:51:58.2050,Lincoln Park,40.724605,-74.078406,Sip Ave,40.730897,-74.063913,Subscriber
...,...,...,...,...,...,...,...,...,...
142925,2022-03-03 16:47:15,2022-03-03 16:51:28,Willow Ave & 12 St,40.751867,-74.030377,9 St HBLR - Jackson St & 8 St,40.747907,-74.038412,member
142926,2022-03-08 18:02:08,2022-03-08 18:14:41,Willow Ave & 12 St,40.751867,-74.030377,Washington St,40.724294,-74.035483,member
142927,2022-03-07 18:54:55,2022-03-07 19:07:06,Willow Ave & 12 St,40.751867,-74.030377,Washington St,40.724294,-74.035483,member
142928,2022-03-19 02:58:42,2022-03-19 03:14:37,Willow Ave & 12 St,40.751867,-74.030377,Washington St,40.724294,-74.035483,casual
142929,2022-03-30 14:15:47,2022-03-30 14:20:11,Willow Ave & 12 St,40.751867,-74.030377,9 St HBLR - Jackson St & 8 St,40.747907,-74.038412,member

In [20]:
stations=finalmerge.drop_duplicates(subset=['start_station_name'])[["start_station_name","start_lat","start_lng"]]

In [21]:
stations

                      start_station_name  start_lat  start_lng
0                          Fairmount Ave  40.725726 -74.071959
1                            Oakland Ave  40.737604 -74.052478
3                                Sip Ave  40.730897 -74.063913
4                           Lincoln Park  40.724605 -74.078406
5                             Newark Ave  40.721525 -74.046305
...                                  ...        ...        ...
47913                    Adams St & 2 St  40.739814 -74.036904
51925  14 St Ferry - 14 St & Shipyard Ln  40.752961 -74.024353
53367         Stevens - River Ter & 6 St  40.743133 -74.026989
55116                   Grand St & 14 St  40.754090 -74.031600
56270                 Madison St & 10 St  40.749943 -74.035865

[81 rows x 3 columns]

In [22]:
# Import packages
import geopy

def get_zipcode(df, geolocator, lat_field, lon_field):
    location = geolocator.reverse((df[lat_field], df[lon_field]))
    return location.raw['address']['postcode']
geolocator = geopy.Nominatim(user_agent='ostrichesarecool@gmail.com')

zipcodes = stations.apply(get_zipcode, axis=1, geolocator=geolocator, lat_field='start_lat', lon_field='start_lng')

In [26]:
stations["zipcodes"]=zipcodes

In [28]:
finalmerge2=finalmerge.merge(stations,how="left")

In [29]:
finalmerge2

,started_at,ended_at,start_station_name,start_lat,start_lng,end_station_name,end_lat,end_lng,member_casual,zipcodes
0,2020-04-01 01:06:20.6300,2020-04-01 01:30:17.9680,Fairmount Ave,40.725726,-74.071959,Fairmount Ave,40.725726,-74.071959,Customer,07306
1,2020-04-01 05:02:42.0570,2020-04-01 05:07:06.1260,Oakland Ave,40.737604,-74.052478,Sip Ave,40.730897,-74.063913,Subscriber,07306
2,2020-04-01 06:20:28.1190,2020-04-01 06:24:42.1380,Fairmount Ave,40.725726,-74.071959,Sip Ave,40.730897,-74.063913,Subscriber,07306
3,2020-04-01 06:33:30.5170,2020-04-01 06:40:40.1990,Sip Ave,40.730897,-74.063913,Bergen Ave,40.722104,-74.071455,Subscriber,07306
4,2020-04-01 06:38:32.9220,2020-04-01 06:51:58.2050,Lincoln Park,40.724605,-74.078406,Sip Ave,40.730897,-74.063913,Subscriber,07304
...,...,...,...,...,...,...,...,...,...,...
142925,2022-03-03 16:47:15,2022-03-03 16:51:28,Willow Ave & 12 St,40.751867,-74.030377,9 St HBLR - Jackson St & 8 St,40.747907,-74.038412,member,07030
142926,2022-03-08 18:02:08,2022-03-08 18:14:41,Willow Ave & 12 St,40.751867,-74.030377,Washington St,40.724294,-74.035483,member,07030
142927,2022-03-07 18:54:55,2022-03-07 19:07:06,Willow Ave & 12 St,40.751867,-74.030377,Washington St,40.724294,-74.035483,member,07030
142928,2022-03-19 02:58:42,2022-03-19 03:14:37,Willow Ave & 12 St,40.751867,-74.030377,Washington St,40.724294,-74.035483,casual,07030
142929,2022-03-30 14:15:47,2022-03-30 14:20:11,Willow Ave & 12 St,40.751867,-74.030377,9 St HBLR - Jackson St & 8 St,40.747907,-74.038412,member,07030

In [31]:
finalmerge2.to_csv('finalmerge.csv', index=False)